<% layout("/lalyouts/boilerplate") -%>

<body>
<div class="containers row">
    <div class="slider col-8 ">
        <div class="arrow left"><i class="fa-solid fa-angle-left"></i></div>
        <div class="sliderTabs">
            <a href="/listing" >
                <div class="icon">
                    <i class="fa-solid fa-fire"></i>
                    <p>Trending</p>
                </div>
            </a>

            <a href="/listing/category/farm house">
                <div class="icon">
                    <i class="fa-solid fa-cow"></i>
                    <p >Farm house</p>
                </div>
            </a>

            <a href="/listing/category/mountain city">            
                <div class="icon">
                    <i class="fa-solid fa-mountain-city"></i>
                    <p >Mountain cities</p>
                </div>
            </a>

            <a href="/listing/category/room">
                <div class="icon">
                    <i class="fa-solid fa-bed"></i>
                    <p>Rooms</p>
                </div>
            </a>

            <a href="/listing/category/arctic">
                <div class="icon">
                    <i class="fa-solid fa-snowflake"></i>
                    <p>Arctic</p>
                </div>
            </a>

            <a href="/listing/category/cave">
                <div class="icon">
                    <i class="fa-solid fa-mountain"></i>
                    <p>Caves</p>
                </div>
            </a>

            <a href="/listing/category/pool">
                <div class="icon">
                    <i class="fa-solid fa-person-swimming"></i>
                    <p >Amazing pools</p>
                </div>
            </a>

            <a href="/listing/category/city">
                <div class="icon">
                    <i class="fa-solid fa-city"></i>
                    <p >Top cities</p>
                </div>
            </a>

            <a href="/listing/category/hotel">
                <div class="icon">
                    <i class="fa-solid fa-hotel"></i>
                    <p>Hotels</p>
                </div>
            </a>

            <a href="/listing/category/beach">
                <div class="icon">
                    <i class="fa-solid fa-umbrella-beach"></i>
                    <p>Beach</p>
                </div>
            </a>

            <a href="/listing/category/tower">
                <div class="icon">
                    <i class="fa-solid fa-tower-observation"></i>
                    <p>Towers</p>
                </div>
            </a>

            <a href="/listing/category/boat">
                <div class="icon">
                    <i class="fa-solid fa-sailboat"></i>
                    <p>Boats</p>
                </div>
            </a>

            <a href="/listing/category/golfing">
                <div class="icon">
                    <i class="fa-solid fa-golf-ball-tee"></i>
                    <p>Golfing</p>
                </div> 
            </a>

            <a href="/listing/category/tower">
                <div class="icon">
                    <i class="fa-solid fa-tower-observation"></i>
                    <p>Towers</p>
                </div>
            </a>

        <div class="arrow right active"><i class="fa-solid fa-angle-right"></i></div>
    </div>
    </div>
    <div class="taxSwitch col-4">
        <div class="form-check form-switch form-check-reverse cover ">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckReverse">
            <label class="form-check-label " for="flexSwitchCheckReverse">Display total before taxes</label>
        </div>
    </div>
</div>



    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1">
        <% for(let listing of allListing) {%>
                <div class="lisitng-card card col" >
                    <a class="listing-link"  href="/listing/<%= listing._id %>">
                    <img src="<%= listing.image.url %>" class="lidImage card-img-top" alt="image">
                    </a>
                    <div class="img-overlay">
                    </div>
                    <div class="card-body lisBody">
                        <a class="listing-link"  href="/listing/<%= listing._id %>">
                        <p>
                            <b><%= listing.title %></b> 
                            <br> &#8377 <%= listing.price.toLocaleString("en-pk") %>
                            <i class="info-tax"> &nbsp; +18% GST</i>
                        </p>
                    </a>
                    </div>  
                </div>              
        <% } %>
    </div> 
    <br> 
    <script>
    // for slider bar active category
        // let icons = document.querySelectorAll(".icon ");
        // icons.forEach((icon) =>{
        //     icon.addEventListener('click' , () => {
        //         console.log("click")
        //     })
        // })

    //for slider bar arrow fuctionality
    let rightArrowContainer = document.querySelector(" .right");
        let leftArrowContainer = document.querySelector(" .left");
        let leftArrow = document.querySelector(" .left i");
        let rightArrow = document.querySelector(" .right i");
        let iconList = document.querySelector(".sliderTabs");

        let manageIcon = () => {
            if(iconList.scrollLeft >= 20){
                leftArrowContainer.classList.add("active")
            }else{
                leftArrowContainer.classList.remove('active')
            }

            let maxWidth = iconList.scrollWidth - iconList.clientWidth -20;

            if(iconList.scrollLeft >= maxWidth){
                rightArrowContainer.classList.remove("active")
            }else{
                rightArrowContainer.classList.add('active')
            }
            
        }

        rightArrow.addEventListener("click" , () =>{
            iconList.scrollLeft +=200
            manageIcon()
        }
        )

        leftArrow.addEventListener("click" , () => {
            iconList.scrollLeft -=200
            manageIcon()
        })

        iconList.addEventListener("scroll" , () => {
            manageIcon()
        })




    // for tax switch
        let taxSwitch= document.getElementById("flexSwitchCheckReverse");
        taxSwitch.addEventListener("click" , () => {
            console.log("click")
            let taxText = document.getElementsByClassName("info-tax");
            for(taxInfo of taxText){
                if(taxInfo.style.display != "inline"){
                taxInfo.style.display = "inline";
                }else{
                taxInfo.style.display = "none";
                }
            }
        })
    </script>
</body>